@page "/Game"

<h1>Game</h1>

<div class="right-border"></div>
<div class="left-border"></div>

<div class="game-page" @onkeydown="HandleKeyPress">
    <div class="header">
        <div class="high-score"><b>High Score: 999</b></div>
        <button class="click-to-start" @onclick="HandleStartGame">@_gameManager.ButtonText</button>
        <div class="score"><b>Score: @_gameManager.GameScore</b></div>
    </div>

    <div class="game-container" tabindex="0" >
        <Player Model="_gameManager.Player" />
        @foreach (var bot in _gameManager.SquareBots)
        {
            <SquareBot Model="bot" />
        }
    </div>



    <div class=" footer">
        <div class="timer"><b>Time: @_gameManager.TimeLeft</b></div>
        <div class="level"><b>Level: @_gameManager.GameLevel</b></div>
    </div>
</div>

    @code {

        GameManager _gameManager;

        protected override void OnInitialized()
        {
            _gameManager = new GameManager();
            _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
        }

        void HandleStartGame()
        {
            _gameManager.StartGame();
        }

        void HandleKeyPress(KeyboardEventArgs e)
        {
            if (e.Code == "ArrowUp")
            {
                _gameManager.MovePlayer("up");
            }
            if (e.Code == "ArrowDown")
            {
                _gameManager.MovePlayer("down");
            }
            if (e.Code == "ArrowLeft")
            {
                _gameManager.MovePlayer("left");
            }
            if (e.Code == "ArrowRight")
            {
                _gameManager.MovePlayer("right");
            }
        }

    }
