@page "/"

<h1>HomePage</h1>

<h3></h3>

<ul>
    <li>
        <a href="/jsindotnet">How to call Javascript</a>
    </li>
    <li>
        <a href="/game">C#/HTML Game</a>
    </li>
</ul>

@code {
    
}
